*{
    margin: 0;
    padding: 0;
    text-align: center;
    
}

body{
    background-color: rgb(245, 236, 224);
}



.container{
    background-color: black;
    height: 5rem;
    line-height: 5rem;
}


h1{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}


.choice{
    height: 165px;
    width: 165x;
    display: flex;
    justify-content: center;
    align-items: center;
}

img:hover{
    cursor: pointer;
    border: 7px solid black;
}


img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}



.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 6rem;
    gap: 10rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}


#user-score , #comp-score{
    font-size: 3rem;
}



.msg-container{
    margin-top: 5rem;
}

#msg{
    background-color: black;
    color: white;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
